
body{
  overflow: hidden;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgb(82, 4, 105) !important;
  font-family: monospace;
  color: white !important;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#errMsg{
  color: red;
  font-style: italic;
  top: 180px;
  position: relative;
}

.uorpDiv{
  display: inline;
}
#UpdatePage{
  /* position: fixed; */
  margin: 2cm !important;
}

#title{
  text-align:center;
  color: white;
  font-family: monospace;
}
.inputForm{
  display: inline-block;
}
#smbt{
  position: absolute;
  top: 90%;
  left: 50%;
}
.rules{
  display: inline-block;
  position: relative;
  /* border: 2px solid rgb(152, 90, 210); */
  border-radius: 2cm;
  width: 14cm;
  font-size: small;
  /* left: 50%; */
  vertical-align:middle;
  text-align: center;
  padding: 20px;
  left: 150px;
  background-color: rgb(152, 90, 210);
}
p{
  text-align: center;
  left: 50%;
}

/* #b1{
  margin-top:  1cm;
} */

#b1,#b2{
  display: block;
  left: 10px;
  position: fixed;
  background-color: blueviolet;
  color: white;
  margin-left: 15px;
  padding: 10px;
  width: 3cm;
  font-size: large;
}
#b1:hover,#b2:hover{
  background-color:  white;
  color: blueviolet;
  border: blueviolet;
}
#updateFieldsDiv{
  position: relative;
  margin-top: 2cm;
  margin-left: -1.5cm;
  font-size: xx-large;
}
#btm{
  position: relative;
  top:2cm;
}
input{
  margin-left: 2cm;
  width: 5cm;
  background-color: unset;
  border-radius: 10px;
  color: white;
  font-family: monospace;
  padding: 15px;
  border-color: white;
}
#i1{
  margin-left: 1cm;
}
#i2{
  margin-left: 1.2cm;
}

#i1,#i2{
  width: 8cm;
  position: relative;
}



nav{
  overflow: hidden;
  /* width: 100%; */
}
#navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
#logo{
  width:1.1cm;
  height:1.1cm;
  margin-left: 20px;
  margin-right: 20px;
} 

#logo:hover{
  cursor: pointer;
}

.dropdown{
  position: relative;
  text-align: center;
  left:88%;
}

.dropdown-content{
  /* margin-left: 8px; */
  display: none;
  text-align: center;
  background-color: white;
  /* width: 2cm; */
  z-index: 2;
  /* float: right; */
  padding: 4px;
  /* margin-top: 4px; */
  /* border: 4px solid darkgray; */
  position: fixed;
}

.dropdown-content a{
  display: block;
  color: black;
  text-align: center;
  text-decoration:none;
}

.dropdown:hover .dropdown-content {
  display: block;padding:0;
}

.dropdown:hover{
  cursor: pointer;
  display: block;
}

.drop_btn{
  font-family: monospace;
  text-align: center;
  width: 80px;
  background-color:white;
  color: blueviolet;
  padding: 5px;
}

.drop_btn:hover{
  /* background-color: rgb(82, 4, 105); */
  background-color: blueviolet;
  color: aliceblue;
}

.navbar-brand{
  padding-left: 0.5cm;
}
#titleAndText{
  text-align: center;
}
#textUnderTitle{
  font-size: smaller;
  font-style: italic;
  transition: 0.5s;
  color: rgb(185, 184, 183);
}
#textUnderTitle:hover{
  color: white;
}
#s1,#s2,#s3{
  display: block;
  /* width: 2cm; */
  position: relative;
}
